<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.fidledemo.dao.CreditDAO">

    <!--插入-->
    <insert id="insertCredit" parameterType="com.example.fidledemo.DO.CreditDO" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO credit(user_id,credit_score,like_num,dislike_num,gmt_create,gmt_modified)
        VALUES(#{userId},#{creditScore},#{likeNum},#{dislikeNum},now(),now())
    </insert>

    <!--根据id删除credit-->
    <delete id="deleteCreditById" parameterType="Long">
        DELETE FROM credit WHERE id=#{id}
    </delete>

    <!--更新-->
    <update id="updateCredit" parameterType="com.example.fidledemo.DO.CreditDO" >
        UPDATE credit
        <set>
            <if test="userId !=null and userId !=''">user_id=#{userId},</if>
            <if test="creditScore !=null and creditScore !=''">credit_score=#{creditScore},</if>
            <if test="likeNum !=null and likeNum !=''">like_num=#{likeNum},</if>
            <if test="dislikeNum !=null and dislikeNum !=''">dislike_num=#{dislikeNum},</if>
            gmt_modified=now()
        </set>
        WHERE id=#{id}
    </update>

    <!--根据id获得credit-->
    <select id="getCreditById" parameterType="long" resultMap="Credit">
        SELECT * FROM credit
        WHERE id=#{id}
    </select>

    <select id="getCreditByWhisId" parameterType="long" resultMap="Credit">
        SELECT * FROM credit
        WHERE user_id=#{wid}
    </select>

    <!--查询credit列表-->
    <select id="listCreditByDO" parameterType="com.example.fidledemo.DO.CreditDO" resultMap="Credit">
        SELECT * FROM credit
        <where>
            <if test="userId !=null and userId !=''">AND user_id=#{userId}</if>
            <if test="creditScore !=null and creditScore !=''">AND credit_score=#{creditScore}</if>
            <if test="likeNum !=null and likeNum !=''">AND like_num=#{likeNum}</if>
            <if test="dislikeNum !=null and dislikeNum !=''">AND dislike_num=#{dislikeNum}</if>
        </where>
        <if test="limit !=null and limit !='' ">limit #{begin},#{size}</if>
    </select>






    <!--Credit-->
    <resultMap id="Credit" type="com.example.fidledemo.BO.CreditBO">
        <result property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="creditScore" column="credit_score"/>
        <result property="likeNum" column="like_num"/>
        <result property="dislikeNum" column="dislike_num"/>

        <!--时间信息-->
        <association property="gmtInfo" javaType="com.example.fidledemo.BO.GmtInfo">
            <result property="gmtCreate" column="gmt_create"/>
            <result property="gmtModified" column="gmt_modified"/>
        </association>
    </resultMap>

</mapper>