<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.fidledemo.dao.GoodsImageDAO">

    <resultMap id="ImageMap" type="com.example.fidledemo.BO.ImageBO">
        <result property="id" column="id"/>
        <result property="imageLink" column="image_link"/>
        <result property="infoId" column="goods_id"/>
        <result property="type" column="type"/>
        <association property="gmtInfo" javaType="com.example.fidledemo.BO.GmtInfo">
            <result property="gmtCreate" column="gmt_create"/>
            <result property="gmtModified" column="gmt_modified"/>
        </association>
    </resultMap>

    <insert id="insertGoodsImage" useGeneratedKeys="true" keyProperty="id" parameterType="com.example.fidledemo.DO.GoodsImageDO" >
        INSERT INTO goods_image
        VALUES (#{id},#{goodsId},#{imageLink},now(),now())
    </insert>

    <select id="getGoodsImage" parameterType="Long" resultMap="ImageMap">
        SELECT id,goods_id,image_link,gmt_create,gmt_modified,1 AS `type`
        FROM goods_image
        WHERE id=#{id};
    </select>

    <update id="updateGoodsImage" parameterType="com.example.fidledemo.DO.GoodsImageDO">
        UPDATE goods_image
        <set>
            <if test="goodsId !=null and goodsId !=''">goods_id=#{goodsId},</if>
            <if test="imageLink !=null and imageLink !=''">image_link=#{imageLink},</if>
            gmt_modified=now()
        </set>
        WHERE id=#{id}
    </update>

    <delete id="deleteGoodsImage" parameterType="Long">
        DELETE FROM goods_image
        WHERE id=#{id}
    </delete>

    <select id="listGoodsImage" parameterType="com.example.fidledemo.DO.GoodsImageDO" resultMap="ImageMap">
        SELECT
        <if test="distinct != null and distinct != ''">DISTINCT</if>
        id,goods_id,image_link,gmt_create,gmt_modified,1 AS `type` FROM goods_image
        <where>
            <if test="goodsId != null and goodsId !=''"> AND goods_id=#{goodsId}</if>
            <if test="id != null and id != ''">AND id=#{id}</if>
        </where>
        <if test="limit != null and limit != ''">limit #{begin},#{size}</if>
    </select>

</mapper>