<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.fidledemo.dao.TaskEvaluationDAO">

    <resultMap id="evaluation" type="evaluationBO">
        <result property="id" column="id"/>
        <result property="infoId" column="task_delegate_id"/>
        <result property="evaluatorId" column="evaluator_id"/>
        <result property="reason" column="reason"/>
        <result property="evaluation" column="evaluation"/>
        <result property="type" column="type"/>
        <association property="gmtInfo" javaType="gmtInfo">
            <result property="gmtCreate" column="gmt_create"/>
            <result property="gmtModified" column="gmt_modified"/>
        </association>
    </resultMap>

    <insert id="insertTaskEvaluation" parameterType="com.example.fidledemo.DO.TaskEvaluationDO" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO task_evaluation(task_delegate_id,evaluator_id,evaluation,reason,gmt_create,gmt_modified)
        VALUES (#{taskId},#{evaluatorId},#{evaluation},#{reason},now(),now())
    </insert>

    <delete id="deleteTaskEvaluationById" parameterType="long">
        DELETE FROM task_evaluation
        WHERE id=#{id}
    </delete>

    <select id="getTaskEvaluationById" parameterType="long" resultMap="evaluation">
        SELECT id,task_delegate_id,evaluator_id,evaluation,reason,2 AS `type`,gmt_create,gmt_modified
        FROM task_evaluation
        WHERE id=#{id}
    </select>

    <select id="listTaskEvaluationByDO" parameterType="com.example.fidledemo.DO.TaskEvaluationDO" resultMap="evaluation">
        SELECT
        <if test="distinct !=null and distinct!=''">DISTINCT</if>
        id,task_delegate_id,evaluator_id,evaluation,reason,2 AS `type`,gmt_create,gmt_modified
        FROM task_evaluation
        <where>
            <if test="id !=null and id!=''">
                AND id=#{id}
            </if>
            <if test="taskId !=null and taskId!=''">
                AND task_delegate_id=#{taskId}
            </if>
            <if test="evaluatorId !=null and evaluatorId!=''">
                AND evaluator_id=#{evaluatorId}
            </if>
            <if test="evaluation !=null">
                AND evaluation=#{evaluation}
            </if>
            <if test="reason !=null and reason !=''">
                <if test="reasonLike !=null and reasonLike !=''">
                    AND reason LIKE "%"#{reason}"%"
                </if>
                <if test="reasonLike ==null or reasonLike ==''">
                    AND reason =#{reason}
                </if>
            </if>
        </where>
        <if test="limit !=null and limit!=''">
            limit #{begin},#{size}
        </if>
    </select>

    <update id="updateTaskEvaluation" parameterType="com.example.fidledemo.DO.TaskEvaluationDO">
        UPDATE task_evaluation
        <set>
            <if test="taskId !=null and taskId !=''">task_delegate_id=#{taskId},</if>
            <if test="evaluatorId !=null and evaluatorId !=''">evaluator_id=#{evaluatorId},</if>
            <if test="evaluation !=null">evaluation=#{evaluation},</if>
            <if test="reason !=null and reason !=''">reason=#{reason},</if>
            gmt_modified=now()
        </set>
        WHERE id=#{id}
    </update>



</mapper>