<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.fidledemo.dao.SystemMessageDAO">

    <resultMap id="evaluationBO" type="evaluationBO">
        <result property="id" column="id"/>
        <result property="infoId" column="task_delegate_id"/>
        <result property="evaluatorId" column="valuator_id"/>
        <result property="reason" column="reason"/>
        <result property="evaluation" column="evaluation"/>
        <association property="gmtInfo" javaType="gmtInfo">
            <result property="gmtCreate" column="gmt_create"/>
            <result property="gmtModified" column="gmt_modified"/>
        </association>
    </resultMap>

    <insert id="insertTaskEvaluation" parameterType="taskEvaluationDO">
        INSERT INTO task_evaluation(id,task_delegate_id,valuator_id,evaluation,reason,gmt_create,gmt_modified)
        VALUES (#{id},#{taskId},#{valuatorId},#{evaluation},#{reason},now(),now())
    </insert>

    <delete id="deleteTaskEvaluation" parameterType="long">
        DELETE FROM task_evaluation
        WHERE id=#{id}
    </delete>

    <select id="getTaskEvaluation" parameterType="long" resultMap="evaluationBO">
        SELECT * FROM task_evaluation
        WHERE id=#{id}
    </select>

    <select id="listTaskEvaluation" parameterType="taskEvaluationDO" resultMap="evaluationBO">
        SELECT
        <if test="distinct !=NULL AND distinct!=''">DISTINCT</if>
        * FROM task_evaluation
        <where>
            <if test="id !=NULL AND id!=''">
                AND id=#{id}
            </if>
            <if test="taskId !=NULL AND taskId!=''">
                AND task_delegate_id=#{taskId}
            </if>
            <if test="valuatorId !=NULL AND valuatorId!=''">
                AND valuator_id=#{valuatorId}
            </if>
            <if test="evaluation !=NULL AND evaluation!=''">
                AND evaluation=#{evaluation}
            </if>
            <if test="reason !=NULL AND reason !=''">
                <if test="reasonLike !=NULL AND reasonLike !=''">
                    AND reason LIKE #{reason}
                </if>
                <if test="reasonLike ==NULL OR reasonLike ==''">
                    AND reason =#{reason}
                </if>
            </if>
        </where>
        <if test="limit !=NULL AND limit!=''">
            limit #{begin},#{size}
        </if>
    </select>

    <update id="updateTaskEvaluation" parameterType="taskEvaluationDO">
        UPDATE task_evaluation
        <set>
            <if test="taskId !=NULL AND taskId !=''">task_delegate_id=#{taskId},</if>
            <if test="valuatorId !=NULL AND valuatorId !=''">valuator_id=#{valuatorId},</if>
            <if test="evaluation !=NULL AND evaluation !=''">evaluation=#{evaluation},</if>
            <if test="reason !=NULL AND reason !=''">reason=#{reason},</if>
            gmt_modified=now()
        </set>
        where id=#{id}
    </update>



</mapper>