<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.fidledemo.DAO.TaskDelegateDAO">

    <!--插入-->
    <insert id="insertTaskDelegate" parameterType="com.example.fidledemo.DO.TaskDelegateDO" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO task_delegate(task_info_id,pub_id,acc_id,acc_evaluate_id,
        pub_evaluate_id,is_pub_evaluated,is_acc_evaluated,gmt_create,gmt_modified)
        VALUES(#{taskInfoId},#{pubId},#{accId},#{accEvaluateId},#{pubEvaluateId},
        #{pubEvaluated},#{accEvaluated},now(),now())
    </insert>

    <!--根据id删除TaskDelegate-->
    <delete id="deleteTaskDelegateById" parameterType="Long">
        DELETE FROM task_delegate WHERE id=#{id}
    </delete>

    <!--更新-->
    <update id="updateTaskDelegate" parameterType="com.example.fidledemo.DO.TaskDelegateDO" >
        UPDATE task_delegate
        <set>
            <if test="taskInfoId !=null and taskInfoId !=''">task_info_id=#{taskInfoId},</if>
            <if test="pubId !=null and pubId !=''">pub_id=#{pubId},</if>
            <if test="accId !=null and accId !=''">acc_id=#{accId},</if>
            <if test="accEvaluateId !=null and accEvaluateId !=''">acc_evaluate_id=#{accEvaluateId},</if>
            <if test="pubEvaluateId !=null and pubEvaluateId !=''">pub_evaluate_id=#{pubEvaluateId},</if>
            <if test="pubEvaluated !=null and pubEvaluated !=''">is_pub_evaluated=#{pubEvaluated},</if>
            <if test="accEvaluated !=null and accEvaluated !=''">`is_acc_evaluated`=#{accEvaluated},</if>
            gmt_modified=now()
        </set>
        WHERE id=#{id}
    </update>

    <!--根据id获得TaskDelegate-->
    <select id="getTaskDelegateById" parameterType="long" resultMap="TaskDelegate">
        SELECT * FROM task_delegate WHERE id=#{id}
    </select>

    <!--查询TaskDelegate列表-->
    <select id="listTaskDelegateByDO" resultMap="TaskDelegate">
        SELECT * FROM task_delegate
        <where>
            <if test="taskInfoId !=null and taskInfoId !=''">AND task_info_id=#{taskInfoId}</if>
            <if test="pubId !=null and pubId !=''">AND pub_id=#{pubId}</if>
            <if test="accId !=null and accId !=''">AND acc_id=#{accId}</if>
            <if test="accEvaluateId !=null and accEvaluateId !=''">AND acc_evaluate_id=#{accEvaluateId}</if>
            <if test="pubEvaluateId !=null and pubEvaluateId !=''">AND pub_evaluate_id=#{pubEvaluateId}</if>
            <if test="pubEvaluated !=null and pubEvaluated !=''">AND is_pub_evaluated=#{pubEvaluated}</if>
            <if test="accEvaluated !=null and accEvaluated !=''">AND `is_acc_evaluated`=#{accEvaluated}</if>
        </where>
        <if test="limit !=null and limit !='' ">limit #{begin},#{size}</if>
    </select>

    <!--TaskDelegate-->
    <resultMap id="TaskDelegate" type="com.example.fidledemo.BO.TaskDelegateBO">
        <result property="id" column="id"/>
        <result property="pubId" column="pub_id"/>
        <result property="accId" column="acc_id"/>
        <result property="pubEvaluated" column="is_pub_evaluated"/>
        <result property="accEvaluated" column="is_acc_evaluated"/>

        <!--时间信息-->
        <association property="gmtInfo" javaType="com.example.fidledemo.BO.GmtInfo">
            <result property="gmtCreate" column="gmt_create"/>
            <result property="gmtModified" column="gmt_modified"/>
        </association>
    </resultMap>
</mapper>